rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
		match /contact/{document=**}{
    	allow write : if true;
      allow read : if false;
    }
    
    match /subjects/{document=**}{
    	allow write : if false;
      allow read : if request.auth != null;
    }
    
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /quizzes/{quizId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      match /subscriptions/{quizId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    match /teste/{document=**}{
			allow write : if true;
      allow read : if false;
}


  }
}
